In [2]:
#Import All the packages

In [2]:
import math
import numpy as np
import pandas as pd
from sklearn import linear_model

In [6]:
data = pd.read_csv("/Users/rmagesh/hackathon/dataset_input/train_test_header_new.csv", sep=',')
data.head()

,productId,shopNameId,shopLatitude,shopLongitude,userLatitude,userLongitude,day,time
0,2,24,30.4145,-97.7053,30.4144,-97.7054,2,5
1,2,24,30.4145,-97.7053,30.4144,-97.7055,7,8
2,4,24,30.4145,-97.7053,30.4144,-97.7056,3,8
3,3,24,30.4145,-97.7053,30.4144,-97.7057,4,12
4,1,24,30.4145,-97.7053,30.4144,-97.7052,5,12

In [32]:
data['hr_sin'] = np.sin(data.time*(2.*np.pi/24))
data['hr_cos'] = np.cos(data.time*(2.*np.pi/24))
data['shop_lat_rad'] = np.radians(data.shopLatitude)
data['shop_lng_rad'] = np.radians(data.shopLongitude)
data['user_lat_rad'] = np.radians(data.userLatitude)
data['user_lng_rad'] = np.radians(data.userLongitude)

0        0.530833
1        0.530833
2        0.530833
3        0.530833
4        0.530833
5        0.530833
6        0.530833
7        0.530833
8        0.530833
9        0.530833
10       0.530833
11       0.530833
12       0.530833
13       0.530833
14       0.530833
15       0.530833
16       0.530833
17       0.530833
18       0.530833
19       0.530833
20       0.530833
21       0.530833
22       0.530833
23       0.530833
24       0.530833
25       0.530833
26       0.530833
27       0.530833
28       0.530833
29       0.530833
           ...
15970    0.648941
15971    0.648941
15972    0.648941
15973    0.648941
15974    0.648941
15975    0.648941
15976    0.648941
15977    0.648941
15978    0.648941
15979    0.648941
15980    0.648941
15981    0.648941
15982    0.648941
15983    0.648941
15984    0.648941
15985    0.648941
15986    0.648941
15987    0.648941
15988    0.648941
15989    0.648941
15990    0.648941
15991    0.648941
15992    0.648941
15993    0.648941
15994    0.648941
15995    0.648941
15996    0.648941
15997    0.648941
15998    0.648941
15999    0.648941
Name: shopLatitude, Length: 16000, dtype: float64

In [13]:
data.head()
math.radians(78.3232)

1.3669977206980226

In [ ]:
data['distance'] = 3959 * acos (
      cos ( radians(78.3232) )
      * cos( radians( lat ) )
      * cos( radians( lng ) - radians(65.3234) )
      + sin ( radians(78.3232) )
      * sin( radians( lat ) )